# Entornos virtuales
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Variables de entorno / secretos
.env
.env.*
*.json.key

# Jupyter
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
